header ul{
  margin: 0;
  display: flex;
  justify-content: space-around;
}

/*.navbar-brand{
  position: absolute;
  padding top:25px;

}*/
h2{
  position: absolute;
  top: 0;
  color: #ff80aa;
  font-family: 'Sofia';
}
/*footer{
  height:50px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px, solid black;
  background-color: grey;
  border-bottom: 0;
  width: 100%*/
  /*position:absolute;*/

.text-center{
  position: absolute;
  bottom: 0;
  background-color:pink;
  border: 1px solid grey;
  width: 100%;
}
#product-table tr,#product-table td{
   border: 1px solid black;
   padding: 10px 10px;
}

#product-table {
  display: flex;
}
.products_table {
  border: 1px solid lightgrey;
  margin-left: 5%;
  display: flex;
  width: 20%;
}
.product_table img {
  width: 100%;
}
.product_table .image_name {
  text-align: center;
  font-weight: bold;
  padding: 10px;
}
.product_table .product_price {
  background-color:rgba(140, 196, 204, 0.5);
  text-align: center;
  width: 60px;
  height: 48px;
}
